@import "../node_modules/bulma/bulma.sass";

/*$fa-font-path: "./fa/webfonts";*/
/*$fa-font-path: "../static/fonts";
@import "./fa/scss/fontawesome";
@import "./fa/scss/solid";
@import "./fa/scss/brands";*/


@font-face {
  font-family: 'Cabin';
  src: url("/fonts/Cabin-Regular.ttf");
}


html {
  background-color: #e0f7fa;
}

body {
  font-family: 'Cabin', sans-serif;
  background-color: #e0f7fa;
  font-size: 1.1rem;  
  letter-spacing: .015em;
}