@import "../node_modules/bulma/bulma.sass";

/*$fa-font-path: "./fa/webfonts";*/
/*$fa-font-path: "../static/fonts";
@import "./fa/scss/fontawesome";
@import "./fa/scss/solid";
@import "./fa/scss/brands";*/


@font-face {
  font-family: 'Cabin';
  src: url("/fonts/Cabin-Regular.ttf");
}


html {
  background-color: #e0f7fa;
}

body {
  font-family: 'Cabin', sans-serif;
  background-color: #e0f7fa;
  font-size: 1.1rem;  
  letter-spacing: .015em;
}


.navbar-burger {
  color: #4a4a4a;
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: 5px !important;
}

.navbar-burger span {
  background-color: currentColor;
  display: block;
  height: 1px;
  right: calc(100% - 8px) !important;
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  width: 16px;
}